<!DOCTYPE html>
<!--Adresse page: http://localhost:3031/createToDo-->
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Created Todo</title>
  </head>
  <body>
    <p>La tâche a été créé</p>
    <form action="/" method="get">
      <input type="submit" value="Menu">
    </form>
  </body>
</html>
