<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Create Your Todo</title>
  </head>
  <body>
    <form action="todo" method="POST">
  <label for="name">Titre de la tâche:</label>
  <input id="name" type="text" required>
  <br>
  <label for="begin">Début de la tâche:</label>
  <input type="date" id="begin" required>
  <br>
  <label for="end">Fin de la tâche:</label>
  <input type="date" id="end" required>
  <br>
  <label for="tags">Catégorie:</label>
  <select id="tags" name="tags">
    <% tags.forEach(function(tag){ %>
				<option value="<%=tag.id%>"><%=tag.name%></option>
				<% }); %>
  </select>
  <br>
  <input type="submit" name="" value="Submit">
  </form>

  <script src="js/proxyClient.js"></script>
  </body>
</html>
