<!DOCTYPE html>
<!--Adresse page: http://localhost:3031/createTags-->
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Create Your Tag</title>
  </head>
  <body>
    <form action="createTags" method="POST">
  <label for="name">Nom de la catégorie:</label>
  <input id="name" type="text" name="name" required>
  <input type="submit" name="" value="Valider">
  </form>
  <form action="/" method="get">
    <input type="submit" name="" value="retour">
  </form>
  </body>
</html>
