<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Create Your Todo</title>
  </head>
  <body>
    <form action="createToDo" method="POST">
  <label for="name">Titre de la tâche:</label>
  <input id="name" type="text" name="name" required>
  <br>
  <label for="begin">Début de la tâche:</label>
  <input type="date" id="begin" name="begin" required>
  <br>
  <label for="end">Fin de la tâche:</label>
  <input type="date" id="end" name="end" required>
  <br>
  <label for="tags">Catégorie:</label>
  <select id="tags" name="tags">
    <% tags.forEach(function(tag){ %>
				<option value="<%=tag.name%>"><%=tag.name%></option>
				<% }); %>
  </select>
  <br>
  <input type="submit" name="" value="Valider">
  </form>
  <form action="/" method="get">
    <input type="submit" name="" value="retour">
  </form>
  </body>
</html>
