<!DOCTYPE html>
<!--Adresse page: http://localhost:3031/deleteTags-->
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Deleted Tag</title>
  </head>
  <body>
    <p>La catégorie a été supprimé</p>
    <form action="/" method="get">
      <input type="submit" value="Menu">
    </form>
  </body>
</html>
