<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
  </head>
  <body>
<form action="createToDo" method="GET">
<input type="submit" name="" value="Créer une nouvelle tâche">
</form>
<form  action="showToDo" method="GET">
  <input type="submit" name="" value="Voir les tâches">
</form>
<form  action="updateToDo" method="GET">
  <input type="submit" name="" value="Modifier une tâche">
</form>
<form action="deleteToDo" method="GET">
  <input type="submit" name="" value="Supprimer une tâche">
</form>
<form action="createTags" method="GET">
  <input type="submit" name="" value="Créer une nouvelle catégorie">
</form>
<form action="showTags" method="GET">
  <input type="submit" name="" value="Voir les catégories">
</form>
<form action="updateTags" method="GET">
  <input type="submit" name="" value="Modifier une catégorie">
</form>
<form action="deleteTags" method="GET">
  <input type="submit" name="" value="Supprimer une catégorie">
</form>
  </body>

</html>
