<!DOCTYPE html>
<!--Adresse page: http://localhost:3031/updateTags-->
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Modify a tag</title>
  </head>
  <body>
    <form  action="updateTagForm" method="post">
    <label for="tag">Choisissez la catégorie à renommer :</label>
  <select id="tag" name="tag">
    <% tags.forEach(function(tagy){ %>
				<option value="<%=tagy.id%>"><%=tagy.name%></option>
				<% }); %>
  </select>
  <input type="submit" name="" value="Valider">
  </form>
  <br>
  <form action="/" method='get'>
    <input type="submit" name="" value="retour">
  </form>

  </body>
</html>
