<!DOCTYPE html>
<!--Adresse page: http://localhost:3031/updateSuccessTodo-->
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Updated todo</title>
  </head>
  <body>
    <p>La todo a été mis à jour</p>
    <form action="/" method="get">
      <input type="submit" value="Menu">
    </form>
  </body>
</html>
